<li><a href="/signup/">Sign Up</a></li>
<li class="dropdown">
	<a href="#" class="dropdown-toggle" data-toggle="dropdown">
		Login
		<b class="caret"></b>
	</a>
	<div class="dropdown-menu">
		<form style="margin: 10px" accept-charset="UTF-8" action="/signin/" method="post">
			{% csrf_token %}
			<fieldset  style="padding:10px">
				{%comment%}
				<input style="margin-top: 8px" type="text" placeholder="Email Address" />
				<input style="margin-top: 8px" type="password" placeholder="Passsword" />
				{%endcomment%}
				{{ inform.email }}
				{{ inform.password }}
				<label>
					<a href="#" style="color:#08C;">Forgotton passsword?</a>
				</label>
				{#<input type="checkbox" style="float:left;">Remember me?#}
				{{ inform.remember }}Remember me?
				<button class="btn btn-primary" type="submit" style="float:right">Login</button>
			</fieldset>
		</form>
	</div>
</li>