
<form class="form-horizontal" action="/settings/password/" method="POST">
{% csrf_token %}
	<fieldset>
		<div class="control-group">
			<label class="control-label" for="oldpass">Old Password</label>
			<div class="controls" id="oldpass">
				{{chpform.old_password}}
				{% if chpform.old_password.errors %}
				<p class="help-block">
					<font color="#FF0000">{{ chpform.old_password.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="newpass">New Password</label>
			<div class="controls" id="newpass">
				{{chpform.new_password}}
				<p class="help-inline">6-30 characters.</p>
				<p class="help-block">
					<font color="#FF0000">{{ chpform.new_password.errors }}</font>
				</p>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="confpass">Confirm Password</label>
			<div class="controls" id="confpass">
				{{chpform.confirm_password}}
				<p class="help-block">
					<font color="#FF0000">{{ chpform.confirm_password.errors }}</font>
				</p>
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" type="submit">Change</button>
		</div>
	</fieldset>
</form>
