{% load gravatar %}

{% if profile_edit_tips %}
<p>
	{%if profile_edit_saved %}
	<div class="alert alert-success">
	{%else%}
	<div class="alert alert-error">
	{%endif%}
		{{ profile_edit_tips }}
	</div>
</p>
{%endif%}

<form class="form-horizontal" action="/profile/edit/" method="POST">
	{% csrf_token %}
	<fieldset>
		
		<div class="control-group">
			<label class="control-label" for="reg-nickname">
				{% get_img_for_user logged_user 60 "g" %}
			</label>
			<div class="controls">
				<div style="padding-top:15px">
					Change your photo at 
					<span>
						<a href="http://gravatar.com/emails/" target="_blank">gravatar.com</a>
					</span>
					</br>
					Current Email: {{logged_user.email}}
					</div>
			</div>
		</div>
		
		<div class="control-group">
			<label class="control-label" for="reg-nickname">
				{{ profileform.nickname.label }}
			</label>
			<div class="controls">
				{{ profileform.nickname }}
				
				<p class="help-block">{{ profileform.nickname.help_text }}</p>
				
				{% if profileform.nickname.errors %}
				<p class="help-block">
					<font color="#FF0000">{{ profileform.nickname.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="reg-email">
				{{ profileform.country.label }}
			</label>
			<div class="controls">
				{{ profileform.country }}
				
				{% if profileform.country.errors %}
				<p class="help-block">
					<font color="#FF0000">{{ profileform.country.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="reg-password">
				{{ profileform.city.label }}
			</label>
			<div class="controls">
				{{ profileform.city }}
				
				{% if profileform.city.errors %}
				<p class="help-block">
					<font color="#FF0000">{{ profileform.city.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="reg-nickname">
				{{ profileform.about.label }}
			</label>
			<div class="controls">
				{{ profileform.about }}
				
				{% if profileform.about.errors %}
				<p class="help-block">
					<font color="#FF0000">{{ profileform.about.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="form-actions">
			<button class="btn btn-primary" type="submit" style="margin:5px;">Save</button>
		</div>
	</fieldset>
</form>