<form class="form-horizontal" action="/signup/" method="POST">
	{% csrf_token %}
	<fieldset>
		<div class="control-group ">
			<label class="control-label" for="reg-nickname">
				{{ upform.nickname.label }}
			</label>
			<div class="controls">
				{# <input class="input-large" type="TEXT" id="reg-nickname" /> #}
				{{ upform.nickname }}
				<p class="help-block">{{ upform.nickname.help_text }}</p>
				
				{%if upform.nickname.errors%}
				<p class="help-block">
					<font color="#FF0000">{{ upform.nickname.errors }}</font>
				</p>
				{%endif%}
				
			</div>
		</div>
		<div class="control-group {% if upform.email.errors %}error{%endif%}">
			<label class="control-label" for="reg-email">
				{{ upform.email.label }}
			</label>
			<div class="controls">
				{#<input class="input-large" type="TEXT" id="reg-email" />#}
				{{ upform.email }}
				
				<p class="help-block">{{ upform.email.help_text }}</p>
				{%if upform.email.errors%}
				<p class="help-block">
					<font color="#FF0000">{{ upform.email.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="control-group {% if upform.password.errors %}error{%endif%}">
			<label class="control-label" for="reg-password">
				{{ upform.password.label }}
			</label>
			<div class="controls">
				{{ upform.password }}
				
				<p class="help-block">{{ upform.password.help_text }}</p>
				
				{%if upform.password.errors%}
				<p class="help-block">
					<font color="#FF0000">{{ upform.password.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<div class="control-group {% if upform.confirm_password.errors %}error{%endif%}">
			<label class="control-label" for="reg-nickname">
				{{ upform.confirm_password.label }}
			</label>
			<div class="controls">
				{#<input class="input-large" type="PASSWORD" id="reg-confirmpwd" />#}
				{{ upform.confirm_password }}
				
				{%if upform.confirm_password.errors%}
				<p class="help-block">
					<font color="#FF0000">{{ upform.confirm_password.errors }}</font>
				</p>
				{%endif%}
			</div>
		</div>
		<button class="btn" type="reset" style="float:right; margin:5px;">Reset</button>
		<button class="btn btn-primary" type="submit" style="float:right; margin:5px;">Sign Up</button>
	</fieldset>
</form>