<form class="form-horizontal" action="/status/" method="POST">
	{% csrf_token %}
	<fieldset>
		<div class="modal-body" align="center">
			{% if staform == None %}
				<textarea style="width:95%; min-height:80px;" name="content" type="text" id="id_content"></textarea>
			{% else%}
				{{ staform.content }}
			{% endif %}
		</div>
		<div class="modal-footer">
			<button class="btn btn-primary" type="submit">Share</button>
		</div>
	</fieldset>
</form>