{% extends "base.html" %}

{% block nav_right %}
	{% if is_logged %}
		{% include "common/utils/nav_right_logged.html" %}
	{% else %}
		{% include "common/utils/nav_right_unlogged.html" %}
	{% endif %}
{% endblock %}

{% block container_style %}
style="background-color:#E6E6E6;"
{% endblock %}

{% block leftside %}

<div class="span7" style="margin-top:20px; margin-left:10px;" >
	{% block activity_main %}{% endblock %}
</div>

{% endblock %}

{% block rightside %}

<div class="span3" style="{% block act_side_style %}margin-top:70px; margin-right:10px; margin-left:10px;{%endblock%}">
	{% block activity_side %}{% endblock %}
</div>

{% endblock %}