	{% load gravatar %}
	{% load user %}
	<div class="cf prof-basic">
		<a href="/users/{{show_user.id}}/" class="prof-avatar">
			{%get_img_for_user show_user 80 "g" %}
		</a>
		<div class="prof-info">
			<div class="prof-info-head">
				<div class="blk" id="prof-name">
					<a href="/users/{{show_user.id}}/">{{ show_user.nickname }}</a>
				</div>
				<div class="blk sep" >|</div>

				{% if show_user.id == logged_user.id %}
				<div class="blk prof-basic-btns" id="prof-edit-btn">
					<a href="/profile/edit/">
						<button class="btn btn-info" type="submit">
							Edit Profile
						</button>
					</a>
				</div>
				{%else%}
				{% if follow_state %}
				<div class="blk prof-basic-btns" id="prof-follow-shell">	
					<button class="btn btn-info disabled" id="prof-follow" value="unfollow" 
					onclick="Dajaxice.MainSite.follow(Dajax.process,{'sid':{{show_user.id}}});">
						Unfollow
					</button>
				</div>
				{% else %}
				<div class="blk prof-basic-btns" id="prof-follow-shell">	
					<button class="btn btn-info" id="prof-follow" value="follow" 
					onclick="Dajaxice.MainSite.follow(Dajax.process,{'sid':{{show_user.id}}});">
						Follow
					</button>
				</div>
				{% endif %}
				
				
				
				{% endif %}
			</div>
			<div class="desc">
				<span id="prof-title">
					{{show_user.city}}, {%get_fullname_for_country show_user.country%}
				</span>
				<p class="prof-title" style="font-weight:normal;">
					Join Date:
					<span id="prof-joindate">{{ show_user.join_date }}</span>
				</p>
			</div>
		</div>
		<div class="prof-right">
			<span id="followers">
				<a href="#"><b>{{ user_followers }}</b></a>
			</span>
			<span>Follwers</span>
			<span id="following">
				<a href="#"><b>{{ user_following }}</b></a>
			</span>
			<span>Following</span>
		</div>
	</div>