{% load gravatar%}

<div class="cf cmt">
	<div class="cf-head" style="height:20px;">
		{% include "common/utils/pagination.html" %}
	</div>
	<!--Comments Start-->
	{% for cmt, author, activity in cmt_list %}
	<div class="cmt-itm" id="cmt{{cmt.id}}">
		<a href="/users/{{author.id}}/" class="cmt-itm-photo">
  			{%get_img_for_user author 40 "g" %}
		</a>
		<div class="cmt-itm-desc">
			<div class="cmt-itm-from">
				<a href="/users/{{author.id}}/">{{author.nickname}}</a>
				{% if activity != None %}
					<span> At </span>
					<a href="/activities/{{activity.id}}/">{{activity.title}}</a>
				{% endif %}
			</div>
			<div class="cmt-itm-text">
				{{cmt.content}}
			</div>
			<div class="cmt-itm-date">
				{{cmt.submit_date|timesince}} ago
			</div>
			{% if author.id == logged_user.id or logged_user.is_admin %}
			{% include "common/utils/cmtdelmodal.html" %}
			<div class="cmt-itm-op">
				<a title="Delete" href="#cmtdelmodal{{cmt.id}}" data-toggle="modal">
					<i class="icon-trash"></i>
				</a>
			</div>
			{% endif %}
		</div>
	</div>
	{%endfor%}
	<!--Comment End-->
</div>

