{%extends "base.html"%}

{% block container_style %}
style="background-color:#E6E6E6;"
{% endblock %}

{% block leftside %}

<div class="span7" style="margin-top:20px; margin-left:10px;" >
	<!--Activity Detail Start-->
	<div class="cf-text">
		<div class="cf-head">
			<div class="cf-caption">
				{%block setting_title%}Profile{%endblock%}
			</div>
		</div>
		<div class="cf-itm cf-itm-last">
			{%block setting_main%}{%endblock%}
		</div>
	</div>
	<!--Activity Detail End-->
</div>

{% endblock %}

