<!--Modal Start-->
<div class="modal hide fade" id="deletemodal" style="display:none;width:300px;left:60%;">
	
	<div class="modal-header" style="text-align:left;">
		<h3>Delete Confirm</h3>
	</div>
	
	<div class="modal-body">
		<p>You want to DELETE the activity?</p>
	</div>
	
	<div class="modal-footer">
		<form action="/activities/{{show_activity.id}}/delete/" method="POST">
		{% csrf_token %}
			<button class="btn btn-primary" type="submit" >
				Yes,I do!
			</button>
			<button class="btn" data-dismiss="modal">Cancel</button>
		</form>
	</div>

</div>
<!--Model End-->