<!--Modal Start-->
<div class="modal hide fade" id="joinmodal" style="display:none;width:300px;left:60%;">
	
	<div class="modal-header" style="text-align:left;">
		<h3>Join Confirm</h3>
	</div>
	
	<div class="modal-body">
		<p>You want to JOIN the activity?</p>
	</div>
	
	<div class="modal-footer">
		<button class="btn btn-primary" 
		onclick="Dajaxice.MainSite.join(Dajax.process,{'aid':{{show_activity.id}}})"
		data-dismiss="modal">
			Yes,I do!
		</button>
		<button class="btn" data-dismiss="modal">No,mistake..</button>
	</div>

</div>
<!--Model End-->