
<div class="cf-block bd-round-blue-light">
	<div class="cf-head vote-head">
		<div class="vote-header-inner">
			<div class="vote-label">
				<div class="vote-number" id="vote-number">{{show_activity.vote}}</div>
				<div class="vote-word" id="vote-word">Votes</div>
			</div>
		</div>
	</div>

	<div class="cf-block-content">
		<div class="cf-block-inner center">
			<button class="btn btn-success btn-large" 
			onclick="Dajaxice.MainSite.vote(Dajax.process,{'aid':{{show_activity.id}}})">
				Vote for it!
			</button>
		</div>
	</div>
</div>