{% extends "base.html" %}
{% load gravatar %}
{% load user %}

{% block link %}
<link href="{{ STATIC_URL }}chosen/css/chosen.css" rel="stylesheet">
{% endblock %}

{% block container_style %}
style="background-color:#E6E6E6;"
{% endblock %}

{% block leftside %}

<div class="span7" style="margin-top:20px; margin-left:10px;" >
	{% block user_info %}
	
	{% include "user/utils/info.html" %}
	
	{% endblock %}

	<div class="cf">
		<div class="msg-head msg-top-head">
			<div style="padding-top:5px;float:left;">
			My Messages
			</div>
			{% include "message/utils/messagemodal.html" %}
			<div class="msg-new">
				<button class="btn btn-primary" href="#messagemodal" data-toggle="modal">
				{% if messages == None %}
					New Message
				{% else %}
					Reply
				{% endif %}
				</button>
			</div>
		</div>
		<div class="msg-inner">	
			{% block breadcrum %}
			
			{% endblock %}
			
			{% block messagebox %}
			
			{% endblock %}
		</div>
	</div>

</div>	
{% endblock %}

{% block rightside %}

{% endblock %}

{% block script %}

<script src="{{ STATIC_URL }}chosen/js/chosen.jquery.js"></script>
<script type="text/javascript"> 
	$(".chzn-select").chosen();
</script>

{% if msg_form_error %}
<script type="text/javascript">
//window.onload = function(){
//	$('#messagemodal').modal('show');
//}
	$(function(){ 
　　		$('#messagemodal').modal('show');
　　}); 
</script>
{% endif %}

{% endblock %}