{% extends "message/base_message.html" %}
{% load gravatar %}

{% block breadcrum %}

{% endblock %}

{% block messagebox %}
	
{% for contact, msg, count, has_new in contacts %}

<div class="msg-itm">
	<div class="msg-itm-photo">
		<a href="/users/{{ contact.id }}/"  >
			<img alt="{{ contact.nickname }}" 
  			source="{% get_gravatar_for_email contact.email 50 "g" %}"
   			src="{% get_gravatar_for_email contact.email 50 "g" %}"
   			title="{{ contact.nickname }}">
		</a>
	</div>
	<div class="msg-itm-desc">
		<div class="msg-itm-user">
			<a href="/users/{{contact.id}}/">
				<font size="3px">{{ contact.nickname }}</font>
			</a>
		</div>
		<div class="msg-itm-text">
		{% if msg.from_id == logged_user.id %}
			Me: <span>{{ msg.content }}<span>
		{% else%}
			{{ msg.content }}
		{% endif %}
		</div>
		<div class="msg-itm-date">
			{{ msg.send_date }}
		</div>
	</div>
	<div class="msg-itm-info">
		<a href="/messages/?tid={{ contact.id }}">
			{{ count }} Messages
		</a>
	</div>
	<div class="msg-itm-op">
		<i class="icon-trash"></i>
	</div>
	{% if has_new %}
	<div class="msg-itm-new">
		<img src="{{ STATIC_URL }}together/img/new_message.png" />
	</div>
	{% endif %}
</div>

{% endfor %}
	

{% endblock%}