{% extends "base.html" %}

{% block title %}
Sign In
{% endblock %}

{% block nav_right %}
<li><a href="/signup/">Sign Up</a></li>
{% endblock %}

{% block topside %}
<div class="span4 offset1" style="border-right:1px solid #eee; padding-right:30px; margin-bottom:30px;">
	<h2 style="margin-bottom:10px; border-bottom:1px solid #eee; padding-top:50px;">Login</h2>
	{% include "common/form/login.html" %}
</div> 
<div class="span4" style="text-align:center;">
	<h3 style="padding-top:100px;">
		<small>No account yet? </small><a href="/signup/">Sign Up Now!</a>
	</h3>
</div>

{% endblock %}